.container{
  background-color: silver;
  border-radius: 15px;
  box-shadow: 0 5px 10px 10px rgb(173, 168, 168);
  width: 400px;
  height: 400px;
 display: flex;
 align-items: center; 
 margin-left: 390px;
 position: relative;
 top: 100px;
 left: 50px;
}
h1{
  margin-bottom: 100px;
  position: relative;
  left: 115px;
}
button{
  background-color: rgb(160, 158, 160);
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 40px;
  position: relative;
  right: 68px;
  top: 40px;
}
span{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  position: relative;
  right: 68px;
}

